.dropdown{
    position: relative;
}
.dropdown-button {
    position: relative;
    padding-right: 40px !important;
}

.dropdown-items{
    position: absolute;
    top:40px;
    left: 5px;
    background-color: #e5e5e5;
    line-height: 25px;
    z-index: 1;
    width: 120px;
    font-size: 14px;
    
}
.arrow-icon{
    position: absolute;
    top:12px;
    right: 5px;
    width: 25px !important;
    height: 25px;
} 


.dropdown-item{
    padding: 0px 5px;
    cursor: pointer;
}
.dropdown-item:hover{
background-color: #d8d7d5cf;
}


/* Quantity Filter */



.dropdown{
    position: relative;
}

.quantity-filter {
    position: relative;
}

.dropdown-items-quantity{
    position: absolute;
    top:40px;
    left: 5px;
    background-color: #e5e5e5;
    line-height: 25px;
    z-index: 1;
    width: 80px;
    font-size: 14px;
    
}

.dropdown-item{
    padding: 0px 5px;
    cursor: pointer;
}
.dropdown-item:hover{
background-color: #d8d7d5cf;
}



@media only screen and (max-width: 450px) {
    .quantity-filter{
display: none;
    }
}