.to-top-button{
    position: fixed;
    font-size: 25px;
    bottom: 35px;
    right: 20px;
    opacity: 0.9;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 25px;
    height: 25px;
    background-color: transparent;
    border:1px solid white;
    padding: 20px;
    }
    .to-top-button:hover{
    opacity: 1;
    color:white;
    }
    .to-top-button:active{
      transform: scale(0.95);
    }
    