.pagination{
    width: 90%;
    text-align: center;
    margin: 0px auto;
    padding: 40px 0px;
    border-bottom: 1px solid rgb(214, 214, 214,0.5);
}

.pagination a{
    display: inline-block;
    padding: 5px 10px;
    color:black;
    opacity: 0.9;
    font-size: 20px;
    text-decoration: none;
    border:2px solid transparent;
    border-radius: 2px;
    margin:0px 5px;
}
.pagination>.pagi-wrapper>a:hover:first-child,
.pagination>.pagi-wrapper>a:hover:last-child{
    background-color: #c3c3c3;
}
.pagination>.pagi-wrapper>a:hover:not(:first-child):not(:last-child){
    background-color: #c5c5c5;
}
.pagination-span{
padding: 0px 10px;
text-transform: uppercase;
}
.pagi-wrapper{
    border-bottom: 3px solid #d73e15;
    display: inline-block;
}


@media only screen and (max-width: 375px) {
    .pagination a:not(:last-child) {
        display: none;
    }
    }