
.checkout-button{
border:1px solid white;
opacity: 0.9;
padding: 10px 40px;
text-decoration: none;
transition: all 0.1s ease-in-out;
display: inline-block;
}
.checkout-button:hover{
background-color: white;
opacity: 1;
color: black;
}

.sb-footer{
    align-items: center;
}