
.shopping-bag-icon{
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.the-counter{
    text-align: center;
    display: inline-block;
    position: absolute;
    font-size: 12px;
    top: -3px;
    left: 12px;
    color: black;
}
.welcome-message{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 450px) 
{
.shopping-bag-icon{
    display:  none;
}
} 