.dropdown{
    position: relative;
}

.quantity-filter {
    position: relative;
    padding-right: 40px !important;
}

.dropdown-items-quantity{
    position: absolute;
    top:40px;
    left: 5px;
    background-color: #e5e5e5;
    line-height: 25px;
    z-index: 1;
    width: 80px;
    font-size: 14px;
    
}

.dropdown-item{
    padding: 0px 5px;
    cursor: pointer;
}
.dropdown-item:hover{
background-color: #d8d7d5cf;
}