.carousel-main{
    width: 90%;
    position: relative;
    margin: 0 auto;
    opacity: 0.94;
    transition: all 0.6s ease-in-out;
    box-sizing: border-box;
}
.carousel-main:hover{
    opacity:1
}

.image-slider{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
.slider-item{
    margin: 5px;
    display: flex;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}
.slider-item:first-child{
    margin-left: 0px;
}
.slider-item:last-child{
    margin-right: 0px;
}

.image-slider>a>div>img{
    /* width: 250px;
    height: 250px; */
    width: 315px;
    height: 315px;
}

.carousel-button{
    position: absolute;
    top:50%;
    margin-top: -15px;
    font-size: 30px; 
    background-color: transparent;
    color:white;
    opacity: 0.9;
    transition: all 0.4 ease-in-out;
}
.carousel-button:hover{
    opacity: 1;
    background-color: transparent;
}

.prev-button{
    left:-35px;
}
.next-button{
    right: -35px;
}

.items-heading{
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

@media only screen and (max-width: 400px) {
    .image-slider>a>div>img{
        width: 200px;
        height: 200px;
    }
    .prev-button{
        left:-25px;
    }
    .next-button {
        right: -25px;
    }

}


