.product-items-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.product-item-tile{
box-sizing: border-box;
flex-basis: 33%;
min-width: 250px;
margin:5px 0px;
overflow: hidden;
transition: all .2s ease-in-out;
}
.product-item-tile:hover{
-webkit-box-shadow: 2px 2px 10px 3px rgba(206, 206, 206, 0.75);
-moz-box-shadow: 2px 2px 10px 3px rgba(206, 206, 206, 0.75);
box-shadow: 2px 2px 10px 3px rgba(206, 206, 206, 0.75);
    
}
.product-item-link-wrapper{
    position: relative;
    display: block;
    opacity: 1;
}
.product-item-link-wrapper>.regular-button{
    width: 65px;
    position: absolute;
    bottom:0;
    margin-bottom: 10px;
    left: 50%;
    margin-left: -60px;
}
.regular-button{
    font-family: 'Bebas-Neue';
    margin: 0px 5px;
    padding: 10px 20px;
    color:black;
    opacity: 0.8;
    border:1px solid #ccc;
    text-decoration: none;
    outline: 1px solid transparent;
    background-color: white;
    transition: all 0.2s ease-in-out;
}
.regular-button:hover{
    opacity: 1;
    background-color: #8a8a8a1c;
    
    }



.product-item-tile-description{
color: white;
background-color: black;
padding: 10px 15px;
height: 100%;
}

.product-item-tile-description p{
line-height: 20px;
margin-bottom: 5px;
padding-left: 5px;
padding-bottom: 0px;
}
.product-item-tile-description p{
    border-left: 2px solid #d73e15;
}


@media only screen and (max-width: 850px) {
    .product-item-tile{
        flex-basis: 49%;
    }
    }
@media only screen and (max-width: 575px) {
    .product-item-tile{
        flex-basis: 90%;
        margin: 0 auto;
    }
    }