.header{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    font-family: 'Bebas-Neue';
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.flex-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    line-height: 50px;
}
.logo{
    font-size: 32px;
    opacity: 0.9;
}
.hidden-bag{
    display: none;
    padding-right: 20px;
    position: relative;
}
.flex-header a {
    text-decoration: none;
    color: white;
    cursor: pointer;    
}

.menu>a{
    position: relative;
    margin: 0px 10px;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2 ease-in-out;
    font-size: 22px;
}

.menu>a:hover{
    opacity: 1;
}
.hamburger-wrapper{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 25px;
    display: none;
}


/* Hamburger menu */
.hamburger-menu{
    width: 20px;
    height: 1px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.hamburger-menu:before,
.hamburger-menu::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: whitesmoke;
    transition: all .5s ease-in-out;
}

.hamburger-menu:after{
    transform: translateY(7px);
}
.hamburger-menu::before{
    transform: translateY(-7px);
}

.hamburger-menu.active{
transform: translateX(40%);
transition: all 0.2 ease-in;
background: transparent;
}
.hamburger-menu.active:after{
    transform: rotate(45deg) translate(-5px,5px);
    
}
.hamburger-menu.active::before{
    transform: rotate(-45deg) translate(-5px,-6px);
    
}



/* End of  Hamburger menu */ 
.nav-bar-slider{
    position: fixed;
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow:hidden;
    z-index: 1;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
}
.nav-bar-slider-body{
    margin: 0 auto;
    width: 90%;
    padding-top: 40px;
    padding-bottom: 30px;
}
.divider{
    margin: 15px 0px;
    height: 2px;
    background: #4d4d4d;
}
.nav-bar-slider-body a{
    text-decoration: none;
    color:white;
    opacity:0.9;
    outline: 1px solid transparent;
}
.nav-bar-slider-body a:hover{
    opacity: 1;
}
.slider-links>li:nth-last-child(n+3){
    font-size: 48px;
    
}
.social-link{
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
}
.nav-bar-slider-footer{
    width: 90%;
    margin: 0 auto;
}
.sign-in-up-button{
    padding: 20px;
    width: 100%;
    background: transparent;
    border: 2px solid white;
    color:white;
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
    transform: scale(0.99);
}
.sign-in-up-button:hover{
    opacity: 1;
    
}
.sign-in-up-button:active{
    border: 1.5px solid white;
    transform: scale(0.97);
    
}

@media (max-width: 550px) {  
    .hamburger-wrapper{
        display: flex;
    }
    .hidden-bag{
        display: block;
        padding-right: 30px;
        position: relative;

    }
    
    .items-in-cart-number {
        font-size: 10px;
    }
    .menu{
        display: none;
    }
    .logo{
    flex-grow: 1;
}
    
}