.hero{
    height: 100vh;
    /* width: 100vw; */
    width: 100%;
    background-image: url('hero1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    overflow: hidden;
  }
  .hero-title{
    margin: 0 auto;
    height: 95%;
    width: 90%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
  }
  
  .hero-title>h1{
    font-size: 7em;
    word-break: break-all;
    padding: 10px 25px;
    background-color: black;
    color: aliceblue;
    position: relative;
  }
  .line{
    position: absolute;
    top:20%;
    right:0;
    width: 2px;
    height: 50%;
    color: red;
    background-color:#a0a0a0;
  }
  
  @media (max-width: 785px) {  
    .hero-title>h1{
      font-size: 5em;
    }
  }
  @media (max-width: 600px) {  
    .hero-title>h1{
      font-size: 3em;
    }
  }
  @media (max-width: 400px) {  
    .hero-title>h1{
      font-size: 2em;
    }
  }
  @media (max-width: 330px) {  
    .hero-title>h1{
      font-size: 1.4em;
    }
  }