.product-footer-wrapper{
    height: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 40px 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 80px;
   
}
    .social{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0px 10px;
        text-decoration: none;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        transition: 0.2s ease-in-out;
        opacity: 0.8;
        :hover{
            opacity: 1;
        }
    };


.footer-item{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{ padding :5px 0px;
        a { 
            padding :5px 0px;
            opacity: 0.9;
        }
         a:hover { 
            opacity: 1
            }               
            
        }
};

@media only screen and (max-width: 665px) {
    .footer-item:nth-child(2){
        display: none;
    }
    }