.sb-container{
    width: 90%;
    height: 100%;
    margin:139px  auto;
    background-color: #191919;
    box-sizing: border-box;
}
.sb-container>div:not(:first-child){
    border-bottom: 1px solid #d73e15c9;
    padding: 15px 20px;
}

/* .sb-header{
    display: flex;
    flex-direction: column;
} */

.sb-header>div{
    display: flex;
    padding:5px 20px;
    border-bottom: 1px solid #d73e15c9;
}

.flex-grow-1{
    flex-grow: 1;
}
.sb-body{
    display: flex;
}
.sb-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sb-item-desctiption{
    padding: 5px 10px;
}
.quantity-edit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shrink {
    width:120px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    /* border: 1px solid gold; */
}
.sb-container span{
    padding: 0px 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width:50px;
}

.checkout-button{
border:1px solid whitesmoke;
opacity: 0.9;
padding: 10px 0px;
text-decoration: none;
transition: all 0.1s ease-in-out;
display: inline-block;
width: 100%;
}

.checkout-button:hover{
    background-color: white;
    opacity: 1;
    color: black;
}

  