.sb-container{
    width: 90%;
    max-width: 850px;
    height: 100%;
    margin:140px  auto;
    background-color: #191919;
    box-sizing: border-box;
    font-size: 22px;

    h2{
        font-size: 30px;
    }
}
.sb-container>div:not(:first-child){
    border-bottom: 1px solid #d73e15c9;
    padding: 15px 20px;
}

.flex-grow-1{
    flex-grow: 1;
    min-width: 170px;
}
.sb-body{
    display: flex;
}
.sb-item {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    flex-basis: 60%;
}

.sb-item-desctiption{
    padding: 5px 10px;
}
.quantity-edit{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        width: 30px;
        height: 30px;
    }
}
.shrink {
    width: 200px;
    display: flex;
    text-align: center;
    justify-content:center;
    /* border: 1px solid gold; */
    
}
.sb-container span{
    padding: 0px 5px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.remove-item-button{
    display: inline-block;
    margin-top: 10px;
    color:#ae371a;
}
@media (max-width: 600px) {  
    .sb-item-desctiption {
        padding: 5px 0px;
    }
    .sb-footer{
        justify-content: center;
    }
    .flex-grow-1{
        flex-grow: 0;
        min-width: 145px;
    }
    h2{
        font-size: 24px;
    }
}