@font-face{
  font-family: 'Bebas-Neue';
  src: 
  url('./fonts/Bebas_Neue/BebasNeue-Regular.ttf')
}

@font-face{
  font-family: 'Darker-Grotesque';
  src:  
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-Light.ttf') */
        url('./fonts/Darker_Grotesque/DarkerGrotesque-Medium.ttf')
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf') */
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-SemiBold.ttf') */
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-Bold.ttf') */
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-ExtraBold.ttf') */
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-Black.ttf') */
}


:root{
  font-family: 'Bebas-Neue';
  background-color: black;
  color: white;
  /* font-family: 'Darker-Grotesque'; */
}
h4{
  padding: 5px 0px;
}
p{
  opacity: 0.9;
}
/* .App{
  font-family: 'Bebas-Neue';
  background-color: black;
  color: white;
} */

