@font-face{
  font-family: 'Bebas-Neue';
  src: 
  url('./fonts/Bebas_Neue/BebasNeue-Regular.ttf')
}

@font-face{
  font-family: 'Darker-Grotesque';
  src:  
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-Light.ttf') */
        url('./fonts/Darker_Grotesque/DarkerGrotesque-Medium.ttf')
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf') */
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-SemiBold.ttf') */
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-Bold.ttf') */
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-ExtraBold.ttf') */
        /* url('./fonts/Darker_Grotesque/DarkerGrotesque-Black.ttf') */
}

:root{
  font-family: 'Bebas-Neue';
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  /* font-family: 'Darker-Grotesque'; */
}
h2{
  font-size: 36px;
  padding: 10px 0px;
  }
h3{
  font-size: 24px;
  }
h4{
  padding: 5px 0px;
}
p{
  opacity: 0.9;
  line-height: 20px;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: white;
  text-decoration: underline;
  transition: all 0.3 ease-in-out;
  border-radius: 1px;
  }
  a:hover{
    opacity: 1;
  }
  a:active{
    transform: scale(0.99);
  }
  .underline{
    text-decoration: underline;
    cursor: pointer;
    color: #d73e15;
  }
  
button{    
  border-radius: 1px;
  border: 1px solid transparent;
  background: #ffffffe0;
}
button:hover{
  background-color: white;
}
button:active{
  transform: scale(0.99);
}

/* .App{
  font-family: 'Bebas-Neue';
  background-color: black;
  color: white;
} */

